#game-board {
    display: grid;
    grid-template-columns: repeat(3, 170px); /* 3 колонки по 170px */
    grid-template-rows: repeat(3, 170px);    /* 3 строки по 170px */
    gap: 15px;  /* расстояние между ячейками 15px */
    width: 540px; /* ширина всей доски */
    height: 540px; /* высота всей доски */
    margin: 0 auto; /* Чтобы доска была по центру страницы */
  }

body {
    background-color: #1A1A1A;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.scoreboard {
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    color: #B3B3B3;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Разделяет элементы по краям */
    width: 1110px; /* Общая ширина панели */
}

.player {
    display: flex;
    align-items: center;
}

.player-icon {
    margin-right: 25px;
}

.score-separator {
    margin: 0 10px; /* Пространство между счетами игроков */
}


.cell {
    width: 170px;
    height: 170px;
    background-color: #2F2F2F; /* Цвет ячейки */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCross {
    width: 115px;
    height: 115px;
    object-fit: contain; /*save svg proportions*/
}

.iconCircle {
    width: 120px;
    height: 120px;
    object-fit: contain; /*save svg proportions*/
}