.game-board {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 170px);
    gap: 15px;
    width: 540px;
    height: 540px;
    margin-left: 70px;
    margin-right: 100px;
}

.game-board-lvl2 {
    display: grid;
    grid-template-columns: repeat(4, 126px);
    grid-template-rows: repeat(4, 126px);
    gap: 10px;
    width: 540px;
    height: 540px;
    margin-left: 70px;
    margin-right: 100px;
}