.cell {
    background-color: #2F2F2F;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #484848; /* изменение фона при наведении */
}

.cell.occupied {
    background-color: #2F2F2F; /* Keep the occupied color the same */
}

